.featuredtab-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  /* float: right; */
  /* text-align: right; */
}

.featuredtab-header .featuredtab-button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  background: none;
  outline: none;

  border: none;
}

.homeproducts-container {
  width: 100%;
}
.featuredtab-active,
.featuredtab {
  background-color: #fff;
  /* color: #000; */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 18px;
  transition: all 0.3s ease;
  /* margin: 0 5px; */
  outline: none;
  border: none;
  cursor: pointer;
}

.product-card {
   position: relative;
  width: 240px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  flex-shrink: 0;

}

.product-card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);

  cursor: pointer;
}

.product-card:hover .product-imgcard .img_overlay {
opacity: 1;
  transform: scale(1);
  background: rgba(255, 255, 255, 0.5);
}

.product-badge {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  color: #fff;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 600;
  border-bottom-right-radius: 15px;
  z-index: 5;
}

.product-imgcard {
position: relative;
  height: 160px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.product-imgcard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;

  border-radius: 10px;
}

.product-imgcard .img_overlay {
  /* background: #999; */
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.6);
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.img_overlay ul {
  display: flex;
  justify-content: space-around;
  background: #fff;

  padding: 5px;
  gap: 10px;
}

.img_overlay ul li {
  width: 25px;
  display: block;
  height: 25px;
}

.img_overlay ul li img {
  color: #000;
}

.img_overlay ul li img:hover {
  color: #666 !important;
}




.products-name {
  font-size: 20px;
  padding: 5px 0;
  color: #333;
  font-weight: 500;
}
.featured-item {
  display: flex;
  padding: 20px;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list-product-overlay {
  display: flex;
  gap: 10px;
  list-style: none;
}
.list-item-overlay img {
  width: 28px;
  height: 28px;
}