.track-order-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.track-input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.track-input-box input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-track {
  padding: 8px 15px;
  border: none;
  background: #6e6250;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-track:hover {
  background: #6e6250;
}

/* Progress bar */
.order-progress {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  position: relative;
}

.progress-line {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ddd;
  z-index: 0;
  border-radius: 2px;
}

.progress-line-fill {
  position: absolute;
  top: 20px;
  left: 0;
  height: 4px;
  background: #28a745;
  z-index: 1;
  border-radius: 2px;
  transition: width 1s ease-in-out; /* animation */
}

.progress-step {
  text-align: center;
  flex: 1;
  position: relative;
  z-index: 2;
}

.progress-step .circle {
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 8px;
  transition: background 0.5s, color 0.5s;
}

.progress-step.completed .circle {
  background: #28a745;
  color: white;
}

.progress-step p {
  font-size: 14px;
  margin-top: 4px;
  color: #666;
}

.progress-step.completed p {
  font-weight: bold;
  color: #28a745;
}

/* Order items table */
.order-items-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.order-items-table th,
.order-items-table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.btn-back{
 padding: 8px 15px;
  border: none;
  background: #6e6250;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}