.login-form {
  background: whitesmoke;

  padding: 20px 40px;
  border-radius: 10px;
}

.login-container {
  margin: 50px 0;
  height: auto;
  top: 50%;
  width: 500px;

  left: 35%;
  position: relative;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 600;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 20px 0;
}

.text-pass {
  border-bottom: 2px solid #adadad;
  position: relative;
  line-height: 1px;

  margin: 20px 0;
}

.txtb-pass {

  display: flex;
  align-items: center;
}

.txtb-pass {

  display: flex;
  align-items: center;
}

.txtb img {
  width: 20px;
  height: 20px;
}

.txtb-pass img {
  width: 20px;
  height: 20px;
}

.txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb-pass input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.txtb span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  transition: 0.5s;
}

.focus+span::before {
  top: -5px;
}

.focus+span::after {
  width: 100%;
}
.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: #FF914D;
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.logbtn:hover {
  background-position: right;
}

.bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}

.login-icon {
  position: relative;
  overflow: hidden;

}

.login-icon img {
  width: 100px;
  text-align: center;
  height: 100px;
  padding: 0 150px;
  justify-content: center;

}

.fileupload {
  padding: 10px 0;
  justify-content: center;
  text-align: center;
  opacity: 0.7;
}

.img-upld {
  width: 100px;
  text-align: center;
  height: 100px;
  padding: 0 150px;
  justify-content: center;
}

.forgot-password label {
  float: right;
  padding-bottom: 10px;
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}

.forgot-password label:hover {
  color: red;
}

.span-login {
  color: red;
  font-size: 18px;
}

@media (max-width: 1080px) {

  .login-form,
  .login-container {
    margin: 0;
    padding: auto;
    width: auto;
  }
}
