.growth-title {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.growth-title h2 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
