/* #FF914D
#6e6250
#fffFFF
*/

li {
  list-style: none ;
}

.container {
  max-width: 80%;
  margin: auto;
}

.container-fluid {
  max-width: 80%;
  margin: auto;
}

.full_container {
  max-width: 95%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

.top {
  margin-top: 100px;
}

.mtop {
  margin-top: 50px;
}

.row {
  width: 50%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}
a{
  text-decoration: none;
}